
body{
    background-color:green;
}
.photos{
    align-items: center;
    
    
}
.p{
    margin: 10% 10% 10% 10%;
}
h1{
    align-items: center;
}
img{
    margin:0px 0px 0 px 100px;

    
}
.reg-col{
    display: flex;
}
